{% extends "core/base.html" %}

{% block title %}
    Categoría de Productos
{% endblock title %}

{% block content %}
    <!--¿Cómo hacer una consulta?-->

    <h1>Lista de Categoría de Productos</h1>
    <!--Cuadro de Búsqueda -->
    <div class="py-lg-4">
        <form action="{% url 'producto:productocategoria_list' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar..." value="{{ request.GET.q }}"> 
        <form/>
    </div>
    {% for object in object_list %}
        <ul>
            <li>{{ object }} - {{ object.nombre }}</li>
        </ul>
    {% endfor %}
{% endblock content %}